<template>
    <div class="menu">
        <h1>Menu 1</h1>
        <p>Ini adalah halaman untuk Menu 1.</p>
    </div>
</template>

<script>
export default {
    name: 'Menu1',
};
</script>

<style>
.menu {
    margin-left: 5%;
}
</style>