<template>
  <v-app>
    <v-navigation-drawer app v-model="drawer">
      <v-list dense>
        <v-list-item>
          <v-container class="sidebar-title">
            <v-icon size="50">mdi-controller-classic</v-icon>
            <v-list-item-content>
              <v-list-item-title class="title">
                My Sidebar
              </v-list-item-title>
            </v-list-item-content>
          </v-container>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item v-for="(item, index) in menuItems" :key="index" link :to="item.route">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>My App</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      menuItems: [
        { text: 'Menu 1', icon: 'mdi-view-dashboard', route: '/menu1' },
        { text: 'Menu 2', icon: 'mdi-account', route: '/menu2' },
        { text: 'Menu 3', icon: 'mdi-cog', route: '/menu3' }
      ],
      pathIcon: 'mdi-settings',
    };
  },
  method: {
  },
};
</script>

<style>
.title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidebar-title {
  text-align: center;
}

.icon-game {
  font-size: 30px;
}
</style>